@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1ca5d7;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

.fixed-top.scrolled {
  background-color: #0e1f64 !important;
  transition: background-color 300ms ease-in-out;
}

.navbar-nav>li {
  padding-left: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.nav-link {
  color: rgba(255, 255, 255) !important;
}

.nav-link:hover {
  color: #1ca5d7 !important;
  border-bottom: 2px solid #1ca5d7;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  transition-delay: 0.1s;
}

header {
  background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  min-height: 65%;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-title>h1 {
  font-size: 7em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

.row {
  max-width: 100%;
}

.arrow-down>a {
  position: absolute;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-0%, -100%);
  font-size: 30px;
  color: white;
}

.arrow-down>a:hover {
  color: white;
}

.col-item {
  padding: 7% 8% !important;
  text-align: center;
}

.col-item>h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.col-item>img {
  margin-bottom: 30px;
}

.image-container-service img {
  object-fit: cover;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^="col-"], .row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 576px) {
  .col-item {
    padding: 0;
    text-align: center;
  }
}