@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif !important;
}

body::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1ca5d7;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

.fixed-top.scrolled {
  background-color: #0e1f64 !important;
  transition: background-color 300ms ease-in-out;
}

.navbar-nav > li {
  padding-left: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.nav-link {
  color: rgba(255, 255, 255) !important;
}

.nav-link:hover {
  color: #1ca5d7 !important;
  border-bottom: 2px solid #1ca5d7;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  transition-delay: 0.1s;
}

.page-link {
  background-color: #000;
}

/* header {
    background-image: url("https://images.unsplash.com/photo-1583161056973-c0375771efb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80");
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    margin-bottom: 60px;
} */

.arrow-down {
  margin-top: 40px;
}

.arrow-down > a > i {
  font-size: 30px;
  color: white;
}

.arrow-down > a > i {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff !important;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
  transition: border 0.1s linear 0.05s;
}

.btn .btn-inner {
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: #373737 !important;
  transition: color 0.1s linear 0s;
}

.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
  display: block;
}

.slideshow .slide.is-loaded {
  opacity: 1;
}

.slideshow .slide .caption {
  padding: 0 100px;
}

.slideshow .slide .image-containers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.slideshow .slide .image-containers::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slideshow .slide .images {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}

.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}

.slideshow .slide .btn::before {
  background: #fff;
}

.slideshow .paginations {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}

.slideshow .paginations .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}

.slideshow .paginations .item + .page {
  margin-left: -2px;
}

.slideshow .paginations .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}

.slideshow .paginations .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}

.slideshow .paginations .item:hover::before,
.slideshow .paginations .item.is-active::before {
  background-color: #fff;
}

.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}

.slideshow .arrows .prev {
  left: 30px;
}

.slideshow .arrows .prev:hover .svg {
  left: -10px;
}

.slideshow .arrows .next {
  right: 30px;
}

.slideshow .arrows .next:hover .svg {
  left: 10px;
}

.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

.rounded-btn {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  outline: none !important;
  border-radius: 40px;
}

.section-1 {
  padding-top: 40px;
  margin-bottom: 50px;
}

.card {
  margin: 1.3em;
}

.card-body > i {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #0e1f64;
}

.card-body:hover {
  background-color: #1ca5d7;
  color: white;
}

.card-title {
  font-size: 1.5em;
}

.card-link {
  color: black;
}

.card-items {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}

.card-items > li {
  padding: 0.5em 0;
  font-size: 0.8em;
}

.card-text > li {
  text-transform: uppercase;
}

.section-2 {
  margin-top: 0px;
  color: white;
  margin-bottom: 40px;
}

.about-content {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fhdqwalls.com%2Fwallpapers%2Fblue-texture-pf.jpg&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin: 0 5em;
}

.about > h1 {
  margin-top: 3em;
  font-size: 3em;
}

.about > p {
  margin-top: 3em;
  font-size: 1.5em;
}

.about-btn {
  margin-top: 3em;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.about-btn:hover {
  background-color: white;
  color: black;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}

@media only screen and (max-width: 1500px) {
  .about > p {
    margin-top: 2em;
    font-size: 1em;
  }
  .about > h1 {
    margin-top: 2em;
    font-size: 2em;
  }
}

@media only screen and (max-width: 1000px) {
  .about > p {
    margin-top: 1em;
    font-size: 1em;
  }
  .about > h1 {
    margin-top: 1em;
    font-size: 1.3em;
  }
  .about-btn {
    margin-top: 2em;
  }
}

.section-3 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.section-3-links {
  margin-top: 2em;
}

.section-3-links > ul > li {
  display: inline;
  margin: 0 2.5em;
  font-size: 1.3em;
}

.section-3-links > ul > li > a {
  color: black;
  font-weight: bold;
}

.section-3-links > ul > li > a:hover {
  color: #1ca5d7;
}

.images-red {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-container {
  width: 100%;
}

.image-container {
  width: 33.33%;
}

.content {
  height: 25em;
}

.container .title {
  color: #1a1a1a;
  text-align: center;
}

.content {
  position: relative;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(28, 165, 215, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 90%;
  left: 20%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.content-details p {
  color: #fff;
  font-size: 1.7em;
  font-weight: bold;
}

.more-works-btn {
  margin-top: 3em;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.more-works-btn:hover {
  background-color: #1ca5d7;
  border: 2px solid #1ca5d7;
  color: white;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}
/* .section-more {
  margin: 40px 0 40px 0;
} */
.section-4 {
  padding: 60px 0 0 0;
}

.section-5 {
  padding: 60px 0;
  background-color: #0e1f64;
}

.gallery-team {
  background: none;
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.gallery-cell-team {
  width: 100%;
  height: auto;
}

.gallery-cell-team > p {
  color: white;
  font-size: 2.3em;
  margin-bottom: 25px;
}

.gallery-cell-team > h6 {
  color: white;
  margin-top: 25px;
}

.image {
  margin-bottom: 10%;
  border: 1.5px solid #1ca5d7;
  padding: 0;
}

.image > img {
  padding: 30px 30px 0 30px;
  margin-bottom: -10%;
  height: 400px;
  object-fit: cover;
}

/* cell number */

iframe {
  /* iframes are inline by default */
  background: #000;
  border: none;
  /* Reset default border */
  height: 100vh;
  /* Viewport-relative units */
  width: 100%;
  margin: 0em;
  padding: 0;
}

.video-show {
  background-image: url(https://images.pexels.com/photos/841228/pexels-photo-841228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 40em;
  position: relative;
}

.video-show > .video-play {
  position: absolute;
  top: 40%;
  font-size: 5em;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.video-show > .video-play > a {
  color: white;
}

.video-show > .video-play > a:hover {
  color: #1ca5d7;
  transition: all 200ms ease-in-out;
}

.image-brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-brands > img {
  width: 23%;
  margin: 1%;
}

.section-6 {
  padding-top: 80px;
  margin-bottom: 80px;
  padding-top: 100px;
  color: white;
  padding-bottom: 100px;
  background-image: url("https://images.unsplash.com/photo-1443610662308-74e383d24fbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-6 > h1 {
  font-size: 4em;
  font-weight: bold;
}

.gallery {
  background: none;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.gallery-cell {
  width: 100%;
  margin-top: 50px;
  height: 200px;
  margin-right: 10px;
  background: transparent;
}

.gallery-cell > p {
  color: white;
  font-size: 2.3em;
  margin-bottom: 25px;
}

.gallery-cell > h6 {
  color: white;
  margin-top: 25px;
}

.gallery-cell > div {
  border-top: #1ca5d7 5px solid;
  width: 5%;
  margin: 0 auto;
}

/* cell number */

.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: transparent;
}

/* big buttons, no circle */

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

/* arrow color */

.flickity-prev-next-button .arrow {
  fill: white;
}

.flickity-prev-next-button.no-svg {
  color: white;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

/* hide disabled button */

.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */

.flickity-page-dots {
  bottom: 0px;
}

/* white circles */

.flickity-page-dots .dot {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: gray;
}

/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
  background: #1ca5d7;
  border: 6px solid #1ca5d7;
}

.section-7 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-8 {
  margin-top: 80px;
  padding-bottom: 80px;
  padding-top: 80px;
  background-color: #fdfefe;
}

.section-8 > h1 {
  font-weight: 700;
}

.section-8 > h6 {
  font-size: 24px;
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
}

.contact-details > h3 {
  color: #1ca5d7;
  margin-bottom: 1.5em;
}

.contact-details > h5 {
  margin-bottom: 1.5em;
}

.contact-details > p {
  margin: 0;
  font-size: 1.2em;
}

.contact-input > p {
  font-size: 1.1em;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
  padding-bottom: 2em;
  margin-bottom: 2em;
  width: 15em;
  color: gray;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-weight: bolds;
  opacity: 1;
  /* Firefox */
}

.send-message-btn {
  border: 1.5px solid black;
  color: black;
  background: white;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}

.send-message-btn:hover {
  border: 1.5px solid #1ca5d7;
  color: white;
  background: #1ca5d7;
}

.social-icons > a {
  color: black;
}

.social-icons > a:hover {
  color: #1ca5d7;
  text-decoration: none;
}

.social-icons > a > i {
  font-size: 1.5em;
  margin-right: 1em;
}

.footer-1 {
  background-color: #0f0f0f;
  padding-top: 6em;
  padding-bottom: 4em;
}

.footer-1 > h1 {
  font-weight: bold;
  color: white;
  font-size: 60px;
  margin-bottom: 0.5em;
}

.footer-1 > h1 > span {
  font-weight: normal;
  color: #1ca5d7;
}

.footer-1 > p {
  color: #9b9a9a;
  font-size: 20px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.footer-1 > input {
  outline: none;
  -webkit-appearance: textfield;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="email"] {
  background: #ededed
    url("https://img.icons8.com/wired/32/66CC75/paper-plane.png") no-repeat 1px
    center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 20em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="email"]:focus {
  width: 40em;
  background-color: #fff;
  border-color: #66cc75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.btn-subscribe {
  margin-top: 2em;
  background-color: #1ca5d7;
  border: none;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-subscribe:hover {
  background-color: white;
  color: #1ca5d7;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}

.btn-subscribe > i {
  margin-right: 15px;
}

.footer-2 {
  background-color: #191919;
}

.links > .f2-links > ul > li {
  display: inline;
  padding: 1em;
}

.links > .f2-links > ul > li > a {
  color: white;
}

.links > .f2-links > ul > li > a:hover {
  color: #1ca5d7;
  text-decoration: none;
}

.links > .biz {
  width: 100%;
  color: white;
}

.links > .biz > p {
  text-align: right;
}

.icon-sec-5 {
  margin: 0 auto;
  display: inline-block;
  background-color: #1ca5d7;
  color: white;
  font-size: 2em;
  border-radius: 50%;
  height: 100px;
  padding-top: 28%;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  margin-right: 1em;
}

.counter {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.counter-text {
  color: white;
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
